/*
http://stackoverflow.com/questions/206652/how-to-create-div-to-fill-all-space-between-header-and-footer-div
https://jsfiddle.net/osvx1zoo/18/
*/
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex: none;
}

main {
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

/**
 * Non-essential styling
 */

body {
  font-family: monospace;
  color: #555;
}

main .container {
  /* top&bottom right&left */
  padding: 10px 25px;
  overflow-y: auto;
}

.graphpicker {
  padding: 10px 15px;
}

footer .container {
  /* top&bottom right&left */
  padding: 1px 15px;
  background-color: #ddd;
}

header .container {
  /* top right&left bottom */
  padding: 15px 15px 0px;
  background-color: #ddd;
}

.logo {
  font-size: 35px;
  font-weight: bold;
}

.hide {
  display: none;
}

iframe {
  height: 500px;
  width: 500px;
}